[Unit]
Description=Camera Focus

[Service]
Type=OneShot
ExecStart=/home/pi/pi/camera/set-focus
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
